/*
vim: softtabstop=2 shiftwidth=2 cinoptions={1s,l1,g0,(1s,\:1s,i1s expandtab 
*/

body {
  background-color: #d6b34e; 
  font-family: verdana;
}

div#input {
}

input#firstLetter {
  width: 1em;
}

input#otherLetters {
  width: 7em;
}

input {
  font-family: monospace;
  font-size: 150%;
}
@media (min-resolution: 150dpi) {
  input { font-size: 300%; }
}

.license_info {
  font-size: 60%;
}

ul#words {
  padding-left: 0; /* no indent */
  list-style-type: none; /* no marks */
}
